##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.pid
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.lst

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.factorypath
*.vscode

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## OS X
##############################
.DS_Store
/smb-site/frontend/node_modules/
/smb-site/frontend/package-lock.json


##############################
## other
##############################
ajcore*.*
.jpb/jpb-settings.xml
/micro-admin/node_modules/
/node_modules/
/cloud-config/src/main/resources/config/

##############################
## vaadin
##############################

# The following files are generated/updated by vaadin-maven-plugin
/admin/node_modules/
/admin/frontend/generated/
/admin/pnpmfile.js
/admin/vite.generated.ts

# Browser drivers for local integration tests
drivers/
# Error screenshots generated by TestBench for failed integration tests
error-screenshots/
webpack.generated.js
/admin/frontend/generated/
/library/logs/
/data/
/scylla/volumes/data_1/
/scylla/volumes/data_2/
/scylla/volumes/data_3/
/.idea/
/guide/문서_도형.pptx
